.wrapper {
  position: relative;
  margin-right: 16px;
  margin-left: 16px;

  padding: 24px 0;

  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 16px;
}

@media screen and (max-width: 1071px) {
  .wrapper {
    width: 592px;
    max-width: 592px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: calc(100vw - 32px - 68px);
  }
  .card-container {
    grid-template-columns: auto auto;
    margin: auto;
    width: 80%;
    gap: 12px;
  }
}

@media screen and (max-width: 479px) {
  .card-container {
    grid-template-columns: auto;
  }
}
