.container {
  width: 375px;
  margin: auto;
  padding: unset;
}
// Qr code
.title {
  font-family: var(--font-family-secondary);
  font-size: 3.2rem;
  margin: 16px auto;
  font-weight: bold;
  text-align: center;
}

.qr-code-body {
  display: flex;
  margin-top: 48px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: unset;
}

.text-container {
  width: 180px;
}

.image {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 12px;
  border: 1px solid rgb(242, 242, 242);
  padding: 12px;

  .qr-code {
    width: 100%;
    height: 100%;
  }
}

.code-mask {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 250, 250, 0.95);
  border-radius: 12px;
  animation: 0.1s linear showEase;
}
@keyframes showEase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mask-tip {
  font-weight: 600;
  font-size: 1.4rem;
}

.refresh-btn {
  border: 1px solid rgba(22, 24, 35, 0.12);
  background-color: rgb(255, 255, 255);
  min-width: 74px;
  min-height: 30px;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  margin-top: 27px;

  .refresh-icon {
    transform: rotate(90deg);
  }

  .animation {
    animation: 1s linear 0s infinite normal none running loading-circle-anim;
  }
}

@keyframes loading-circle-anim {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0);
  }
}

.step-container {
  margin-top: 24px;
}

.step {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 4px;

  svg {
    vertical-align: middle;
    margin: 0 4px;
  }
}

.img-tip {
  margin-left: 20px;
  height: 270px;
  overflow: visible;
}
